<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{event.title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    header {
        position:fixed;
        left:0;
        right:0;
        height:120px;
        z-index:5;
    }
    .hb {
        float:right;
        padding:20px 40px;
    }
    </style>
</head>
<body>
    <header>
        <a href="/" style="float:left; padding:20px 40px;"> На главную </a>
        {% if user.status == true %}
            <a class="hb" href="/exit"> Выход </a>
            <a class="hb" href="/add_events"> Добавить событие </a>
        {% else %}
            <a class="hb" href="/registration"> Регистрация </a>
            <a class="hb" href="/login"> Вход </a>
        {% endif %}
    </header>
    <div class="container" style="padding-top:80px">
        <h2>{{event[0].title}}</h2>
        <p>{{event[0].description}}</p>
    </div>
</body>
</html>